html 	{
		height: 100%;
		}
body 	{
		height: 100%;
		margin: 0;
		padding: 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#257a82+0,123845+100 */
		background: #257a82; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #257a82 0%, #123845 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#257a82), color-stop(100%,#123845)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #257a82 0%,#123845 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #257a82 0%,#123845 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #257a82 0%,#123845 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #257a82 0%,#123845 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#257a82', endColorstr='#123845',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		color: #fff;
		overflow: auto;
		}
h1,
h2	{
	 text-align: center;
	 text-transform: uppercase;
	 font-weight: 100; 
	 letter-spacing: 0.1em;
	 text-shadow: 0px 2px 2px rgba(11,61,85,0.8);
	}
h2	{
	 font-size: 1.6em;
	 color: #4c7183;
	}
.row .panel	
		 	{
			background-color: #0b3d55;
			border-radius: 3px;
			padding: 18px 60px 45px;
			box-shadow: 0px 0px 5px rgba(11,61,85,0.8);
			overflow: hidden;
			}
.row .menu	{
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6cbec2+0,4ba0a4+100 */
			background: #6cbec2; /* Old browsers */
			background: -moz-linear-gradient(top,  #6cbec2 0%, #4ba0a4 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cbec2), color-stop(100%,#4ba0a4)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #6cbec2 0%,#4ba0a4 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #6cbec2 0%,#4ba0a4 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #6cbec2 0%,#4ba0a4 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #6cbec2 0%,#4ba0a4 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cbec2', endColorstr='#4ba0a4',GradientType=0 ); /* IE6-9 */
			display: block;
			border: 1px solid #58b0b3;
			border-radius: 3px;
			padding: 12px;
			font-size: 1.6em;
			text-align: center;
			}
.row .menu { color: #fff;}
.row .menu:hover {color: #fff; text-decoration: none;}
.row .active	{
				box-shadow: 0px 0px 20px rgba(99,185,188,0.5); 
				}
.row .active:hover	{
					box-shadow: 0px 0px 20px rgba(99,185,188,0.75);
					transition: box-shadow 0.3s ease;
					}
label		{
			color: #52b1b5;
			text-transform: uppercase;
	 		font-weight: 100; 
	 		letter-spacing: 0.1em;
	 		margin: 2em 0 0;
	 		transition: color 0.3s ease;
			}
label:hover	{color: #72d3d6;}
input[type=text]
			{
			width: 100%;
			background-color: transparent;
			border: 0;
			border-bottom: 1px solid #52b1b5;
			}
input[type=radio]	
			{
			margin: 0 1em 0 0;
			vertical-align: middle;
			}
input[type=submit]
			{
			width: 80%;
			background-color: #215870;
			border: 0;
			border-radius: 6px;	
			margin: 3em auto 0;
			padding: 12px;
			display: block;	
			text-transform: uppercase;		
			}
.center		{
			margin: 0 auto;
			}